* {
	margin: 0;
	padding: 0;
}

.red_circle {
	background: red;
	height: 10px;
	width: 10px;
	border: 1px solid red;
	border-radius: 5px;
	float: left;
	margin: 1px;
}

.blue_circle {
	background: blue;
	height: 10px;
	width: 10px;
	border: 1px solid blue;
	border-radius: 5px;
	float: left;
	margin: 1px;
}

.green_circle {
	background: green;
	height: 10px;
	width: 10px;
	border: 1px solid green;
	border-radius: 5px;
	float: left;
	margin: 1px;
}